@model Cadastro_de_pessoas.Models.Evento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCriada" class="control-label"></label>
                <input asp-for="DataCriada" class="form-control" />
                <span asp-validation-for="DataCriada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CriadoPor" class="control-label"></label>
                <input asp-for="CriadoPor" class="form-control" />
                <span asp-validation-for="CriadoPor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inicio" class="control-label"></label>
                <input asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concluido" class="control-label"></label>
                <input asp-for="Concluido" class="form-control" />
                <span asp-validation-for="Concluido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtendenteId" class="control-label"></label>
                <select asp-for="AtendenteId" class ="form-control" asp-items="ViewBag.AtendenteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label"></label>
                <select asp-for="AnimalId" class ="form-control" asp-items="ViewBag.AnimalId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
