@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="Pessoas" class="nav-link text-dark" asp-controller="Pessoas" asp-action="Index" title="Manage">Clientes</a>
        </li>
        <li class="nav-item">
            <a id="Animais" class="nav-link text-dark" asp-controller="Animais" asp-action="Index" title="Manage">Animais</a>
        </li>
        <li class="nav-item">
            <a id="Eventos" class="nav-link text-dark" asp-controller="Eventos" asp-action="Index" title="Manage">Eventos</a>
        </li>
    }
</ul>
