@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Opps!Ocorreu um erro,mas não se preocupe.Nosso time será avisado e iremos corrigir em breve!</h2>

@if (Model != null)
{
<p>
    @if (string.IsNullOrWhiteSpace(Model.Titulo) == false && string.IsNullOrWhiteSpace(Model.Mensagem) == false)
    {
        <div class="text-info">@Html.Raw(Model.Titulo)</div>
        <div class="text-info">@Html.Raw(Model.Mensagem)</div>
    }

</p>
}

